body {
    color: #fdfdfd;
    background-image: url(../media/grey.jpg);
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
