#h-sec-1 {
    background-image: url(../media/yellow.jpg);
}

#h-sec-2 {
    background-image: url(../media/y2.jpg);
}

#h-sec-3 {
    background-image: url(../media/p3.jpg);
    /* color: white; */

}

#h-sec-4 {
    background-image: url(../media/red5.jpg);
}

#h-sec-5 {
    background-image: url(../media/blue.jpg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

#homeText, .home-icons {
    display: none;
}

.blockquote {
    font-size: large;
}

.CSSCodeTitle {
    width: 30%;
    /* position: relative; */
    text-align: center;
    font-size: x-large;
}

.CSSCodeDes {
    /* left: 30%; */
    /* position: absolute; */
    text-align: left;
    max-width: 70%;
    font-size: medium;
    top: 0;
    padding-right: 2vw;
}

.card-body {
    padding: 0.5rem 1rem;
}

#h-sec-3 h1{
    margin-bottom: 3rem;
}

.CSSSelectorTitle{
    width: 10%;
    text-align: center;
    font-size: large;

}

.CSSSelectorDes {
    text-align: left;
    max-width: 90%;
    font-size: medium;
    top: 0;
    padding-right: auto;
    margin-bottom: 0.5rem;
}

.page-link{
    background-color: rgba(243, 146, 146, 0.5);
    color: black;
    font-weight: 300;
    border: 0;
}
.breadcrumb {
    background-color: rgba(243, 146, 146, 0.3);
    
}

.breadcrumb a{
    color: black;
}

#h-sec-3 .card {
    background-color:  rgba(243, 146, 146, 0.3);
}

#h-sec-3 p {
    font-weight: 400;
}