#h-sec-1 {
    background-image: url(../media/blue.jpg);
    color: white;
}

#h-sec-2 {
    background-image: url(../media/b2.jpg);
}

#h-sec-3 {
    background-image: url(../media/b3.jpg);
    /* color: white; */
}

#h-sec-4 {
    background-image: url(../media/p4.jpg);
}

#h-sec-5 {
    background-image: url(../media/blue.jpg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}
#homeText, .home-icons {
    display: none;
}

.JSCodeTitle {
    width: 30%;
    /* position: relative; */
    text-align: center;
    font-size: x-large;
}

.JSCodeDes {
    /* left: 30%; */
    /* position: absolute; */
    text-align: left;
    max-width: 70%;
    font-size: medium;
    top: 0;
    padding-right: 2vw;
}
#h-sec-3 h1 {
    margin-bottom: 3rem;
}

#h-sec-4 h1 {
    margin-bottom: 2rem;
}
.page-link {
    background-color: rgba(145, 192, 236, 0.5);
    color: black;
    font-weight: 300;
    border: 0;
}
#h-sec-3 .card {
    background-color: rgba(145, 192, 236, 0.3);
}
.JSSelectorDes {
    text-align: left;
    max-width: 90%;
    font-size: medium;
    top: 0;
    padding-right: auto;
    margin-bottom: 0.5rem;
}