#h-sec-1 {
    background-image: url(../media/blue.jpg);
    color: white;
}

#h-sec-2 {
    background-image: url(../media/b2.jpg);
}

#h-sec-3 {
    background-image: url(../media/p3.jpg);
    /* color: white; */
}

#h-sec-4 {
    background-image: url(../media/p4.jpg);
}

#h-sec-5 {
    background-image: url(../media/blue.jpg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}
#homeText, .home-icons {
    display: none;
}

.JSCodeTitle {
    width: 30%;
    /* position: relative; */
    text-align: center;
    font-size: x-large;
}

.JSCodeDes {
    /* left: 30%; */
    /* position: absolute; */
    text-align: left;
    max-width: 70%;
    font-size: medium;
    top: 0;
    padding-right: 2vw;
}